alias ls="ls -lha --color=auto"
alias gs='git status'
alias htpc='ssh htpc@htpc.local'

alias sshweb='ssh -p 2222 enim@192.232.249.141'
alias sshwork='ssh jbruno@jbruno.office.mbira.com'
alias dwh3='ssh -i ~/.ssh/work_rsa jbruno@dwh3.chidc.mbira.com'


connect_vpn() {
    cd ~/vpnconfigs/jbruno.tblk/ && sudo openvpn mbiraVPN.conf
}
